@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

html {
	display: table;
    width: 100%;
    height: 100%;
}
body {
	display: table-cell;
	vertical-align: middle;
	font-family: 'Karla', sans-serif !important;
	font-size: 1rem;
	background: hsl(204, 43%, 93%);
}
.grid-container {
    display: grid;
    margin: auto;
}
.head-line {
	color: hsl(179, 62%, 43%);
    font-weight: 700;
}
.guarantee-line {
	color: hsl(71, 73%, 54%);
    font-weight: 700;
}
.community {
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
p.explain-line {
    color: hsl(218, 22%, 67%);
    line-height: 1.7;
}
.why-us {
    background: hsl(179deg 62% 43% / 74%);
	border-bottom-right-radius: 10px;
}
.subscription h4, .why-us h4 {
    color: #fff;
}
.why-us p {
    color: hsl(204deg 43% 93% / 89%);
	margin: 0;
    font-size: 0.9rem;
	line-height: 1.5;
}
.subscription span {
    color: hsl(204deg 43% 93% / 53%);
    font-weight: 700;
}
.subscription b {
    color: #fff;
    font-size: 1.8rem;
}
p.access-line {
    color: #fffc;
    font-weight: 700;
}
.subscription button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    background: hsl(71, 73%, 54%);
    border: 1px solid hsl(179deg 72% 37%);
    border-radius: 6px;
    color: #fff;
    font-weight: 700;
    font-family: 'Karla', sans-serif !important;
	transition: 0.5s;
    cursor: pointer;
}
.subscription {
    background: hsl(179deg 62% 43% / 94%);
}
.why-us a {
    text-decoration: none;
    color: hsl(204deg 43% 93% / 89%);
}
.subscription button:hover {
    background: #fff;
    color: hsl(179, 62%, 43%);
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media (min-width: 769px) {
	section.grig-item.community {
	    grid-column: 1 / span 2;
	}
	.subscription {
		border: 2px solid hsl(179deg 82% 32% / 35%);
	    border-bottom: 0;
	    border-right: 0;
		border-bottom-left-radius: 10px;
	}
	.why-us {
	    border: 2px solid hsl(179deg 82% 32% / 20%);
	    border-bottom: 0;
	    border-left: 0;
	}
	.community {
	    padding: 20px 35px 25px;
	}
	.subscription, .why-us {
		padding: 18px 35px 38px;
	}
}
@media (max-width: 768px) {
	.why-us {
		border-bottom-left-radius: 10px;
	}
	.community {
	    padding: 20px 25px 25px;
	}
	.subscription, .why-us {
		padding: 18px 25px 38px;
	}
	p.access-line {
	    margin-bottom: 25px;
	}
}
@media (min-width:1101px) {
	.grid-container {
    	width: 50%;
    }
}
@media (max-width:1240px) {
	.grid-container {
    	width: 65%;
    }
}
@media (max-width: 1100px) {
	p.explain-line, p.access-line, .subscription span {
	    font-size: 0.95rem;
	}
}
